*{
    font-family: Arial, Helvetica, sans-serif;

}



form{
    width: 500px;
    padding: 10px;
    margin: 10px;
}
input:focus{
    /* padding: 10px;
    margin: 5px;
    font-size: 1rem; */
    border: 1px solid red;
}
h1{
    text-align: center;
    color: red;
    text-shadow: -4px -5px 1px black;
}
div{
    border: 2px solid red;
    box-shadow: 4px 4px 1px grey;
}
ul{
    list-style-position: inside;
}
table{
    empty-cells: hide;
    width: 600px;
    margin: 10px auto   ;
}
tr:hover{
    background-color: aqua;
}
th,td{
    padding: 10px;
    border: 1px solid;
    border-spacing: 2px;
}