*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h2{
    color: blue;
    background-color: yellow;
    font-size: 50px;
    border: 4px solid red;
    border-radius: 12px;
    width: 400px;
    margin-top: 20px;
    
}
h1{
    margin: 20px;
    font-size: 60px;
    color: green;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 12px;
    border:4px solid salmon;
}