ul{
    /* list-style-type: 'test '; */
    list-style-position: inside;
    list-style-type: "\270D";
}
body{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    border: 4px solid groove;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    width: 100px;
    
}

h1:hover{
    background-color: orange;
    cursor: pointer;
    color: #000;
    border-radius: 50%;
    border: 5px solid darkturquoise;
    width: 200px;
    transition: 2s;

}
button{
     color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    border: 4px solid groove;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    width: fit-content;

}
