h1{
    color: green;
    background-color: lightpink;
    border: 5px solid gray;
    border-radius: 12px;
    text-align: center;
}
body{
    border: 4px solid red;
    border-radius: 12px;
    padding: 10px;
}