
.neon-marquee {
  overflow: hidden;
  white-space: nowrap;
  font-size: 22px;
  color: hwb(60 16% 0%);
  text-shadow: 0 0 10px #00f, 0 0 20px #00f;
}
.neon-marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: neonScroll 9s linear infinite;
}
@keyframes neonScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


