#malik{
    border-radius: 50px;
}
table,th,td{
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    border-collapse: collapse;
}
th,td{
    background-color: aqua;
    border-radius: 12px;
}