/* #clock {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    margin-top: 20%;
    background-color: aqua;
    border-radius: 100%;
} */