.city{
    border: 5px solid red;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: aquamarine;
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px 0 20px 0;

}
p{
    font-size: 1.5rem;
}
h2{
    text-decoration: underline gray double ;
}